@model PersonPlanetViewModel


<p>Name: @Model.Person.name</p>
<p>Homeworld URL: @Model.Person.homeworld</p>
<p>Height: @Model.Person.height</p>

<h2>@Model.Person.name's Home World</h2>
<p>Name: @Model.Planet.name</p>
<p>Gravity: @Model.Planet.gravity</p>
<p>Population: @Model.Planet.population</p>
